@import "_variables.scss";

body { 
    background-color: #212121;
    font-family: Arial Narrow,Arial,sans-serif;
}

nav {
    height: 2rem;
}

.page-content {
    margin: 1rem 10rem;
}

.nav-bar {
    display: grid;
    grid-template-columns: auto auto auto auto;
    text-align: center;
    font-size: 20px;
    list-style-type: none;
    border-style: double none;
    border-color: rgba(255, 255, 255, 0.7);
    padding: .8rem 0rem;
    color: rgba(255, 255, 255, 0.7);
    font-weight: 500;
}

 /* The Styling for the Clock and Clock Label */
 .clock {
    font-family:Impact, Charcoal, sans-serif;
    font-size:50px;
    text-align: center;
    color:#FFF;
    opacity:.75;
    padding-top: 5px;
}